<form [formGroup]="userProfile" (ngSubmit) = "Submit()">
    <label>
      name
      <input type="text" formControlName = "name">
    </label>
     
    <label>
        email
        <input type="text" formControlName = "email">
      </label>
      <label>
          phone
          <input type="text" formControlName = "phone">
        </label>
        <label>
            address
            <input type="text" formControlName = "address">
          </label>
          <button> Submit </button>
</form>